# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
gradle/
.idea/
local.properties
build/
fivebyfive.iml
.gradle
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml